:root {
  --green-blue-color: #428291;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;

  background-image: url(img/pexels-pixabay-268533.jpg);
}

@media screen and (min-width:480px) and (max-width:769px) {
  body {
    font-size: 5px;
  }

  .message1 {
    font-size: 5px;
  }

  .message {
    font-size: 5px;
  }


}


.header {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color: var(--green-blue-color);
  height: 15vh;
  background: rgb(66, 130, 145, 0.4);
  border-radius: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.logo1 {
  font-family: 'Tulpen One', cursive;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
  font-size: 100px;
  letter-spacing: 5px;
  color: #fff;
  z-index: 2;
}

.sign-in {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  color: white;

}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 15px;
  border: 1px solid #bbb7b7;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 50px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: none;

}

.form-main {
  /* background-color: red; */
  height: 100vh;
  width: 100%;
  max-width: 100%;
  /* transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 0.4);
  transform: translateX(10%); */
}

.label1 {
  margin-top: 20px;
  margin-bottom: -25px;
  height: 30px;
}

.input1 {
  margin-top: 30px;
  width: 50%;
  height: 30px;
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  background-color: #fff;

}

.label2 {
  margin-bottom: -25px;
  margin-top: 30px;
  height: 30px;
}

.input2 {
  margin-top: 20px;
  width: 50%;
  height: 30px;
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  background: #fff;
}

.submit {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 90px;
  height: 30px;
  padding: 5px;
  font-size: 15px;
  border-radius: 50px;
  font-weight: bold;
  background-size: 100% auto;
  background-image: linear-gradient(30deg, #428291, #4ce3f7);
  border: none;
  color: #fff;
  cursor: pointer;
}

.submit:hover {
  width: 100px;
  scale: 1.1;
  color: #fff;
  background-color: #808080;
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
  cursor: pointer;
}

.message {
  margin-top: -10px;
  margin-bottom: -10px;
  font-family: sans-serif;
  font-size: 15px;
  color: #fff;
  /* background-color: red; */
  width: 70%;
  margin-right: -10px;
  align-items: center;
}

.message1 {
  margin-right: 10px;
  color: #fff;
  font-size: 15px;
  padding-bottom: 10px;
}

.hidden {
  display: none;
  visibility: hidden;
  transition: width 2s, height 2s, transform 2s;
}

.hidden:hover {
  width: 300px;
  height: 300px;
  transform: rotate(180deg);
}

.signUpButton {
  display: flex;
  margin-bottom: 20px;
  margin-top: -8px;
  padding-left: 10px;
  border-radius: 10px;
  width: 140px;
  border: none;
  color: red;
  background: none;
  cursor: pointer;
  /* background-color: red; */

}

.signUpButton:hover {
  /* width: 100px; */
  font-size: 15px;
  background-position: right center;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
  cursor: pointer;


}

.signInButton {
  display: flex;
  margin-bottom: 15px;
  border-radius: 10px;
  padding-left: 2px;
  width: 50px;
  border: none;
  color: red;
  background: none;
  cursor: pointer;
  height: 20px;
  text-align: center;
  align-items: center;
}

.signInButton:hover {
  font-size: 14px;
  background-position: right center;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
  cursor: pointer;
}

.foot1 {
  display: flex;
  justify-content: center;
}

.foot2 {
  display: flex;
  justify-content: center;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

@media only screen and (max-width: 500px) {}